<div class="row">
  <div class="col-8">
    <form #f="ngForm" (ngSubmit)="savePost(f.value)">
      <input type="hidden" class="form-control" id="id" [(ngModel)]="post.id" name="id">
      <input type="hidden" class="form-control" id="uuid" [(ngModel)]="post.uuid" name="uuid">
      <div class="form-group">
        <label for="name" class="control-label">Libellé</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="post.name" name="name">
      </div>
      <div class="form-group">
        <label for="numberAvailable" class="control-label">Nombre place</label>
        <input type="text" class="form-control" id="numberAvailable" [(ngModel)]="post.numberAvailable" name="numberAvailable">
      </div>
      <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea name="description" id="description"  [(ngModel)]="post.description" cols="30" rows="5" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="hierarchy" class="control-label">Hierarchie</label>
        <select name="hierarchy" id="hierarchy" class="form-control" [(ngModel)]="post.hierarchy">
          <option [ngValue]="null"></option>
          <option [ngValue]="h.id === post.hierarchy?.id ? post.hierarchy : h" *ngFor="let h of hierarchies; trackBy: trackHierarchyById">
            {{ h.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button *ngIf="!post.id" class="btn btn-success" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
        <button *ngIf="post.id" class="btn btn-success" type="submit"><i class="fa fa-save"></i> Modifier</button>

        <button class="btn btn-dark ml-1" (click)="backClicked()"><i class="fa fa-undo"></i> Annuler</button>
      </div>
    </form>
  </div>

</div>
