<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="custom-control-label">Libellé</div>
      <div class="custom-control text-md-left text-dark">{{identifierType.name}}</div>
    </div>

    <div class="form-group">
      <div class="custom-control-label">Format</div>
      <div class="custom-control text-md-left text-dark">{{identifierType.format}}</div>
    </div>

    <div class="form-group">
      <div class="custom-control-label">Description</div>
      <div class="custom-control text-md-left">{{identifierType.description}}</div>
    </div>

    <div class="form-group">
      <a class="btn btn-info" [routerLink]="['/identifier-type/form/edit', identifierType.id]"><i class="fa fa-edit"></i> Editer</a>
      <a class="btn btn-dark ml-1" routerLink="/identifier-type/list"><i class="fa fa-list"></i> Voir la liste</a>
    </div>
  </div>

</div>

