<button class="btn btn-success mb-1" routerLink="/grade/form"><i class="fa fa-plus"></i></button>
<table class="table table-bordered table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Nom du grade</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let g of grades">
    <td valign="center">{{g.id}}</td>
    <td valign="center">{{g.name}}</td>
    <td width="100" align="center">
      <div class="btn-group-sm btn-group">
        <a class="btn btn-link details-icon text-dark" [routerLink]="['/grade/details', g.id]"><i class="fa fa-1x fa-eye"></i></a>
        <a class="btn btn-link edit-icon text-success" [routerLink]="['/grade/form/edit', g.id]"><i class="fa fa-1x fa-edit"></i></a>
        <a class="btn btn-link edit-icon text-danger" (click)="openConfirmationDialog(g.id)"><i class="fa fa-1x fa-trash"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

