<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="custom-control-label">Libellé</div>
      <div class="custom-control text-md-left text-dark">{{leavePermissionType.name}}</div>
    </div>

    <div class="form-group">
      <div class="custom-control-label">Durée légale (jour)</div>
      <div class="custom-control text-md-left text-dark">{{leavePermissionType.legalDuration}}</div>
    </div>

    <div class="form-group">
      <div class="custom-control-label">Description</div>
      <div class="custom-control text-md-left">{{leavePermissionType.description}}</div>
    </div>

    <div class="form-group">
      <a class="btn btn-info" [routerLink]="['/leave-permission-type/form/edit', leavePermissionType.id]"><i class="fa fa-edit"></i> Editer</a>
      <a class="btn btn-dark ml-1" routerLink="/leave-permission-type/list"><i class="fa fa-list"></i> Voir la liste</a>
    </div>
  </div>

</div>


