<button class="btn btn-success mb-1" routerLink="/leave-permission-type/form"><i class="fa fa-plus"></i></button>

<table class="table table-bordered table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Durée légale (jour)</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let l of leavePermissionTypes">
    <td valign="center">{{l.id}}</td>
    <td valign="center">{{l.name}}</td>
    <td valign="center">{{l.legalDuration}}</td>
    <td width="100" align="center">
      <div class="btn-group-sm btn-group">
        <a class="btn btn-link details-icon text-dark" [routerLink]="['/leave-permission-type/details', l.id]"><i class="fa fa-1x fa-eye"></i></a>
        <a class="btn btn-link edit-icon text-success" [routerLink]="['/leave-permission-type/form/edit', l.id]"><i class="fa fa-1x fa-edit"></i></a>
        <a class="btn btn-link edit-icon text-danger" (click)="openConfirmationDialog(l.id)"><i class="fa fa-1x fa-trash"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
