<button class="btn btn-success mb-1" routerLink="/departure-type/form"><i class="fa fa-plus"></i></button>
<table class="table table-bordered table-striped table-sm">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Nom du type de départ</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of departureTypes">
    <td valign="center">{{d.id}}</td>
    <td valign="center">{{d.name}}</td>
    <td width="100" align="center">
      <div class="btn-group-sm btn-group">
        <a class="btn btn-link details-icon text-dark" [routerLink]="['/departure-type/details', d.id]"><i class="fa fa-1x fa-eye"></i></a>
        <a class="btn btn-link edit-icon text-success" [routerLink]="['/departure-type/form/edit', d.id]"><i class="fa fa-1x fa-edit"></i></a>
        <a class="btn btn-link edit-icon text-danger" (click)="openConfirmationDialog(d.id)"><i class="fa fa-1x fa-trash"></i></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>


